.root {
  min-height: 100dvh;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: 12px;
  padding-right: 12px;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .root {
    max-width: var(--mantine-breakpoint-sm);
  }
}

@media (min-width: 1280px) {
  .root {
    max-width: var(--mantine-breakpoint-lg);
  }
}

.content {
  flex: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
}
