# Dependencies
node_modules

# Build
dist

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local

# Tech specifications
.spec
assets

# Pnpm
.pnpm-store

# Playwright artifacts
test-results
playwright-report
blob-report