.content {
  flex: 1;
  min-height: 0;

  @media (min-width: 768px) {
    gap: var(--mantine-spacing-md);
  }
}

.postsSection {
  flex: 1;
  min-height: 0;
}

.postsList {
  flex: 1;
  min-height: 0;
}
