.root {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  row-gap: 24px;
  padding-top: 48px;
  padding-bottom: 24px;
}

.formWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: 768px) {
    gap: var(--mantine-spacing-md);
  }
}

.form {
  width: 100%;
}
