.content {
  flex: 1;
  min-height: 0;

  @media (min-width: 768px) {
    gap: var(--mantine-spacing-md);
  }
}

.listSection {
  flex: 1;
  min-height: 0;
}

.listWrapper {
  flex: 1;
  min-height: 0;
}

.followerRow {
  padding-bottom: 8px;
  box-sizing: border-box;
}

.followerCard {
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
