:root {
  --app-bp-xs: 390px;
  --app-bp-sm: 768px;
  --app-bp-md: 1024px;
  --app-bp-lg: 1280px;
  --app-bp-xl: 1440px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #ffffff;
}

body {
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #ffffff;
}

.ellipsisText {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 100%;
}
